body {
    background-color: rgb(144, 255, 110);
    font-family: Arial, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}